.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid palegreen;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace
    }
.item-image {
    width: 64px;
    height: 64px;
    border: 1px solid #ccc;
    margin-right: 10px;
    float: left;
    }
.item-name {
    font-weight: bold;
    margin-bottom: 0.4em;
    }
.item-price {
    text-align: right;
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    }

.item-left {
    flex: 1;
}
.item-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}