@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

.cart-page-items {
    margin: 0;
    padding: 0;
  }

.cart-page-items li {
    list-style: none;
  }

.cart-item-count {
    padding: 5px 10px;
    border: 1px solid #ccc;
  }

.cart-item-minusone, .cart-item-plusone {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #fff;
  }

.cart-item-minusone {
    border-right: none;
  }

.cart-item-plusone {
    border-left: none;
  }
  
.cart-page-total {
  text-align: right;
  font-size: 25px;
  padding-right: 10px;
  margin-top: 20px;
}

button {
  font-family: 'Crafty Girls', cursive;
  background-color: peachpuff;
  border: none;
}