body {
  background-image: url('https://raw.githubusercontent.com/LizzieCrockett/react-milestone-ii/master/src/images/desktop.png');
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  background-color: aliceblue;
  }


.main-content {
  margin: 0 20px;
  }



  @media screen and (max-width: 1000px) {
    body {
      background-image: url('https://raw.githubusercontent.com/LizzieCrockett/react-milestone-ii/master/src/images/handheld.png');
    }
  }