@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.nav {
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid palegreen;
    }
  
.nav ul {
    padding: 0;
    margin: 0;
    }
  
.nav button {
    font-size: 24px;
    font-family: 'Fredericka the Great', cursive;
    background: transparent;
    border: none;
    cursor: pointer;
    }
  
.nav-item {
    list-style: none;
    display: inline-block;
    margin-right: 32px;
    font-size: 24px;
    border-bottom: 4px solid transparent;
    }
  
.nav-item button:hover {
      color: #999;
      }
  
.nav-item.selected {
      background-color: pink;
      border: none;
      }
  